In [2]:
import pandas as pd

In [8]:
train=pd.read_csv('./DATA/train.csv', index_col='id')
test=pd.read_csv('./DATA/test.csv', index_col='id')

In [9]:
train

,keyword,location,text,target
id,,,,
1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...
10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
10872,NaN,NaN,Police investigating after an e-bike collided ...,1
10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [10]:
test

      keyword location                                               text
id
0         NaN      NaN                 Just happened a terrible car crash
2         NaN      NaN  Heard about #earthquake is different cities, s...
3         NaN      NaN  there is a forest fire at spot pond, geese are...
9         NaN      NaN           Apocalypse lighting. #Spokane #wildfires
11        NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan
...       ...      ...                                                ...
10861     NaN      NaN  EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...
10865     NaN      NaN  Storm in RI worse than last hurricane. My city...
10868     NaN      NaN  Green Line derailment in Chicago http://t.co/U...
10874     NaN      NaN  MEG issues Hazardous Weather Outlook (HWO) htt...
10875     NaN      NaN  #CityofCalgary has activated its Municipal Eme...

[3263 rows x 3 columns]